/* Write your code here. */
.list-item {
  margin-right: 10px;
}
.thumbnail-image-button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.thumbnail {
  opacity: 0.5;
}
.thumbnail-active {
  opacity: 1;
}
